/resources/data
/resources/saved_models
/resources/hugging_face
/resources/models
/resources/baseline
/src/wandb/
/env/
preprocessing.sif
script/csnet_gpu.sif
script/.cache/
script/.config/
cript/.keras/
cript/.local/
cript/.netrc


